@import "sassline-base";

$panda-primary: #EEF4CA;

section {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 700px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.hero {
  padding-top: 1rem;
  background: $panda-primary;
}
