@import "sassline-base";

$panda-primary: #EEF4CA;
$panda-secondary: #CACBF4;
$panda-highlight: #F4CAEF;
$light-grey: #F4F4F4;
$dark-grey: #6E6E6E;
$button-primary: #428C50;
$button-hover: #3DA450;


section {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 700px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

div.hero {
  padding-top: 1rem;
  background: $panda-primary;
}

form {
  label {
    margin-bottom: 1rem;
    @include sassline(delta, $headingtype, 2, 1, all);
  }
  div {
    display: flex;
    flex-direction: row;
    @include breakpoint(break-1) {
      width: 70%;
    }
    input[type="email"] {
      font-size: 1em;
      padding: 1rem 1rem;
      margin-right: 1rem;
      flex: 1;
      border: 1px solid $dark-grey;
    }
    input[type="submit"] {
      font-size: 1em;
      display: inline-block;
      padding: 1rem 1.5rem;
      text-align: center;
      border: 0;
      background-color: $button-primary;
      color: #ffffff;
      border-radius: 3px;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,0.4), $dark-grey 0px 0px 1px inset;
      transition: all 0.15s linear;
      outline: none;

      &:hover,
      &:focus {
        background: $button-hover;
        border: 0;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5), #505050 0px 0px 1px inset;
      }
    }
  }

}

section.feature {
  max-width: 100%;
  padding: 0;
  background: $light-grey;
  @include breakpoint(break-1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &.flip {
    @include breakpoint(break-1) {
      flex-direction: row-reverse;
    }
  }
  div.screenshot {
    padding: 2rem 1rem 0 1rem;
    @include breakpoint(break-1) {
      width: 50%;
    }
    img {
      display: block;
      width: 50%;
      margin: 0 auto;
    }
    &.first {
      background: linear-gradient($light-grey 20%, $panda-primary 70%);
      @include breakpoint(break-1) {
        background: $panda-primary;
      }
    }
    &.second {
      background: linear-gradient($light-grey 20%, $panda-highlight 70%);
      @include breakpoint(break-1) {
        background: $panda-highlight;
      }
    }
    &.third {
      background: linear-gradient($light-grey 20%, $panda-secondary 70%);
      @include breakpoint(break-1) {
        background: $panda-secondary;
      }
    }
  }
  div.summary-container {
    @include breakpoint(break-0) {
      padding: 3rem 1rem 1rem 1rem;
    }
    @include breakpoint(break-1) {
      padding: 1rem;
      width: 50%;
    }
    div.summary {
      width: 80%;
      margin: 0 auto;
    }
  }
}
