<form id="mG61Hd" action="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfZbE54ajSRIBIQMNKhQYuUve1GQoQ5kIhLvHlmbbSKVeelsg/formResponse" method="post">
  <label for="email-address">Email address:</label>
  <div>
    <input id="email-address" type="email" name="entry.2082822863" required>
    <input type="submit" value="Sign up">
  </div>
</form>
