---
title: Panda Guard
---

<div class="hero">
  <section class="typeset">
  <h1>Don’t let your website go down because of a forgotten SSL&nbsp;certificate</h1>

  <p>SSL is confusing and certificates can easily get forgotten. You don’t want your users to be the first to tell you that your website’s down!</p>

  <p>Panda Guard keeps a watchful eye on your site, making sure it stays secure and accessible, all of the time. </p>
  </section>
</div>

<section class="typeset">
  <h2>Panda Guard is currently in private beta</h2>

  <p>Sign up to get your invitation:</p>

  <form>
    <label for="email-address">Email address</label>
    <input id="email-address" type="email">
    <input type="submit" value="Sign up">
  </form>
</section>

<div>
  <section class="typeset">
    <ul>
      <li>Protect your reputation</li>
      <li>No loss of site visitors and revenue</li>
      <li>Avoid angry support calls or twitter storms</li>
    </ul>

    <h3>Daily checkup</h3>
    <p>We run a daily check of all your certificates and automatically find any new ones so you don’t can’t forget them</p>

    <h3>Recommended improvements</h3>
    <p>We test your site works in the latests browsers and security standards and provide you with recommendations so you can keep one step ahead</p>

    <h3>Warnings your can’t miss</h3>
    <p>We escalate critical issues to different people in the business so there’s no single point of failure.</p>
  </section>
</div>
